<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="model.dao.mapper.MemoMapper">

	<cache/>
	
	
	<insert id="addMemo" parameterType="Memo">
		<selectKey order="BEFORE" resultType="int" keyProperty="memoId">
			SELECT Sequence_memoId AS memoId FROM DUAL 
		</selectKey>
	
		INSERT INTO Memo (memoId, userId, groupId, memoContents)
		VALUES (#{memoId}, #{userId}, #{groupId}, #{memoContents}) 
	</insert>
	
	<select parameterType="String" id="getMemo" resultType="Memo">
		SELECT memoId AS memoId, userId AS userId, groupId AS groupId, memoContents As memoContents FROM Memo WHERE memoId = #{memoId} 
	</select>
	
	
	<resultMap id="memoResultMap" type="Memo">
		<id property="memoId" jdbcType="VARCHAR" column="memoId"/>
		<result property="userId" jdbcType="VARCHAR" column="userId"/>
		<result property="groupId" jdbcType="VARCHAR" column="groupId"/>
		<result property="memoContents" jdbcType="LONGVARCHAR" column="memoContents"/>
		<collection property="memoList" ofType="Memo">
			<id property="memoId" jdbcType="VARCHAR" column="memoId"/>
			<result property="userId" jdbcType="VARCHAR" column="userId"/>
			<result property="groupId" jdbcType="VARCHAR" column="groupId"/>
			<result property="memoContents" jdbcType="LONGVARCHAR" column="memoContents"/>
		</collection>
	</resultMap>
	
	<select parameterType="String" id="getList" resultMap="memoResultMap">
		SELECT memoId,userId,groupId,memoContents As memoId,userId,groupId,memoContents FROM MEMO  WHERE groupId = #{groupId}
	</select>

</mapper>