@charset "UTF-8";
.tb{
	background-color: #c0c0c0;
	border-radius: 20px;
	width:80%;
	height:600px;
	text-align: top;
}
.notice{
	vertical-align: top;
	height:80px;
	background-color: #ff8080;
	padding-left:20px;
	padding-top:20px;
	box-shadow: 2px 2px gray;
	font-size: 15px;
	font-style: bold;
}
.btn1{
background-color: #FFFFFF;
color: black;
font-family: Arial;
font-size: 16px;
font-style: bold;
height:30px;
width:120px;
border:1;
border-radius:5px;
}
.btn2{
background-color: #FFFFFF;
color: black;
font-family: Arial;
font-size: 13px;
font-style: bold;
width:120px;
border:0px;
border-radius:5px;
}

.inputField{
background-color: rgb(187, 244, 227);
color: black;
font-size: 13px;
border:0px;
border-radius:5px;
}
#title{
background-color: gray;
color: black;
font-size: 22px;
border:0px;
border-radius:5px;
}