@charset "UTF-8";
.modal_wrap {
	display: none;
	width: 600px;
	height: 600px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -250px 0 0 -250px;
	background: white;
	z-index: 2;
	color: black;
	border-radius: 15px;
}

.modal_wrap2 {
	display: none;
	width: 600px;
	height: 600px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -250px 0 0 -250px;
	background: white;
	z-index: 2;
	color: black;
	border-radius: 15px;
}

.modal_close {
	width: 26px;
	height: 26px;
	position: absolute;
	top: -30px;
	right: 0;
}
.modal_close2 {
	width: 26px;
	height: 26px;
	position: absolute;
	top: -30px;
	right: 0;
}

.modal_close>a {
	display: block;
	width: 100%;
	height: 100%;
	background: url(https://img.icons8.com/metro/26/000000/close-window.png);
	background-repeat: no-repeat;
	text-indent: -9999px;
}
.modal_close2>a {
	display: block;
	width: 100%;
	height: 100%;
	background: url(https://img.icons8.com/metro/26/000000/close-window.png);
	background-repeat: no-repeat;
	text-indent: -9999px;
}
  a {
      text-decoration: none;
      line-height: 50px;
      padding-left: 10px;
   }
   a:link a:visited {
      text-align: center;
   }