.btn2 {
	border: 0px;
	width: 170px;
	height: 35px;
	font-size: 17px;
	background-color: #8cdbbc;
	border-radius: 20px;
	border: 0px;
}

.back {
	width: 97%;
	height: 600px;
	left: calc(50% - 1043px/ 2 + 10px);
	bottom: -154px;
	background: #CBD1CA;
	border-radius: 20px;
	border-collapse: collapse;
	text-align:center;
}

.individualBack {
	width: 960px;
	height: 30px;
	background: white;
	color: black;
	border-radius: 20px;
	border-collapse: collapse;
	font-family:沅곸꽌泥�;
	font-weight:bold;
}

.individualBack td:first-child {
	border-left-style: solid 0px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.individualBack td:last-child {
	border-right-style: solid 0px;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
}

a {
	text-decoration: none;
}

.modal {
	width: 577px;
	height: 620px;
	background: #FFFFFF;
}

