.title {
	font-family: 'Inter';
	font-style: normal;
	font-weight: bold;
	font-size: 31px;
	line-height: normal;
	color: #000000;
}

.title_d {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 23px;
	line-height: normal;
	color: #000000;
}

.btn {
	border: 6px;
	background-color: #F2673B;
	position: absolute;
	border-radius: 10px;
	height: 45px;
	left: 86%;
	top: 190px;
	width: 100px;
	text-align:center;
}

.btn2 {
	position: absolute;
	width: 108px;
	height: 46px;
	background: #000000;
	border-radius: 30px;
	left: 127px;
	text-align: center;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	color: #FFFFFF;
	top: 534px;
}

.btn3 {
	position: absolute;
	width: 108px;
	height: 46px;
	background: #000000;
	border-radius: 30px;
	left: 261px;
	text-align: center;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 43px;
	color: #FFFFFF;
	top: 534px;
}

a {
	text-decoration: none;
	font-size: 17px;
    font-weight: bold;
}

.modal {
	width: 577px;
	height: 620px;
	background: #FFFFFF;
}

.task_title {
	position: absolute;
	width: 392px;
	height: 40px;
	left: 53px;
	top: 118px;
	background: #BEEDCD;
	border-radius: 7px;
	border: none;
}

.task_des {
	position: absolute;
	width: 392px;
	height: 46px;
	left: 53px;
	top: 200px;
	background: #BEEDCD;
	border-radius: 7px;
	height: 46px;
	border: none;
}

.startDate {
	position: absolute;
	width: 149px;
	height: 35px;
	left: 85px;
	top: 370px;
	background: #BEEDCD;
	border-radius: 7px;
	border: none;
	text-align: center;
}

.startTime {
	position: absolute;
	width: 149px;
	height: 35px;
	left: 265px;
	top: 370px;
	background: #BEEDCD;
	border-radius: 7px;
	border: none;
	text-align: center;
}

.endDate {
	position: absolute;
	width: 149px;
	height: 35px;
	left: 85px;
	top: 470px;
	background: #BEEDCD;
	border-radius: 7px;
	border: none;
	text-align: center;
}

.endTime {
	position: absolute;
	width: 149px;
	height: 35px;
	left: 265px;
	top: 470px;
	background: #BEEDCD;
	border-radius: 7px;
	border: none;
	text-align: center;
}

.back {
	position: absolute;
	width: 1076px;
	height: 620px;
	left: 221px;
	top: 309px;
	bottom: -154px;
	background: #CBD1CA;
	border-radius: 20px;
}

.contents {
    height: 71px;
    background: #F3F5F2;
    border-radius: 20px 0px 0px 20px;
}

.contents2 {
	width: 372px;
	height: 71px;
	left: 40px;
	background: #F3F5F2;
	border-radius: 20px 0px 0px 20px;
}

.contentsTime {
	height: 71px;
	background: #F3F5F2;
	padding-right: 40px;
}

.contentsTime2 {
	height: 71px;
	background: #F3F5F2;
	border-radius: 0px 20px 20px 0px;
}

.descript_back {
	position: absolute;
    width: 80%;
    height: 37%;
    left: 218px;
    top: 220px;
    background: rgba(203, 221, 97, 0.35);
    border-radius: 20px;
}

.descript_back2 {
	position: absolute;
	width: 80%;
	height: 37%;
	left: 218px;
	top: 575px;
	background: rgba(203, 221, 97, 0.35);
	border-radius: 20px;
}

.memContents {
	width: 70%;
	height: 48px;
	margin-left: 40px;
	background: #F3F5F2;
	border-radius: 20px;
	margin-top: 20px;
	text-align: left;
	margin-inline: auto;
}

.task_back {
	position: absolute;
	width: 80%;
	height: 40%;
	left: 222px;
	top: 247px;
	background: rgba(179, 224, 143, 0.72);
	border-radius: 20px;
}

.comment_td {
	position: absolute;
	width: 1072px;
	height: 59px;
	left: 11%;
	background: #EBEBEB;
	border-radius: 20px;
}

.comment_input {
	box-sizing: border-box;
	position: absolute;
	width: 833px;
	height: 31px;
	left: 40px;
	top: 17px;
	background: #FFFFFF;
	border: 1px solid #000000;
	background: #FFFFFF;
}

.comment_submit {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 894px;
	top: 17px;
	background: #000000;
	border-radius: 50%;
	color: white;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 800;
	font-size: 30px;
	line-height: 20px;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
}

.ann_box {
	position: absolute;
	width: 31px;
	height: 28px;
	left: 35px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 24px;
	display: flex;
	align-items: center;
	text-align: center;
	top: -3px;
}

.annonymous {
	position: absolute;
	width: 31px;
	height: 28px;
	left: 960px;
	top: 17px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	line-height: 24px;
	display: flex;
	align-items: center;
	text-align: center;
	top: 17px;
}

.sbtn {
	background-color: #F2673B;
	color: white;
	position: absolute;
	border-radius: 10px;
	font-size: 19px;
	text-align: center;
	height: 35px;
	left: 1100px;
	top: 194px;
	width: 126px;
	padding-top: 6px;
}

.task_submit_back {
	position: absolute;
	width: 1072px;
	height: 670px;
	left: 222px;
	top: 165px;
	background: rgba(179, 224, 143, 0.72);
	border-radius: 20px;
	line-height: 30px;
}

.submit_text {
	position: absolute;
	width: 1031px;
	height: 411px;
	left: 22px;
	top: 82px;
	background: rgba(179, 224, 143, 0.72);
	border-radius: 20px;
	line-height: 30px;
	border: none;
	resize: none;
}

.comment_remove {
	width: 21px;
	height: 21px;
	margin-top:20px;
	background: black;
	border-radius: 50%;
	color: white;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 800;
	font-size: 12px;
	line-height: 20px;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
}

